BestBuyBot
[{"id":"5471dace.b40b94","type":"tab","label":"Версия1","disabled":false,"info":"[]()"},{"id":"4a20c813.bcbbc8","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":160,"wires":[]},{"id":"f7fcedd3.63e37","type":"telegram receiver","z":"5471dace.b40b94","name":"","bot":"25353ee6.933a52","saveDataDir":"","x":110,"y":240,"wires":[["4a20c813.bcbbc8"],["d9141fc9.02cad"]]},{"id":"a4207c34.53edc","type":"telegram sender","z":"5471dace.b40b94","name":"","bot":"25353ee6.933a52","x":670,"y":240,"wires":[["f7fe8948.4c6448","a80cbf2f.e5aee"]]},{"id":"f7fe8948.4c6448","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":160,"wires":[]},{"id":"91951185.06054","type":"function","z":"5471dace.b40b94","name":"KeyboardButton","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    inline_keyboard:  [\n      [{ text: 'Button 1', url: 'https://core.telegram.org/bots/api#inlinekeyboardmarkup' }],\n      [{ text: 'Button 2', url: 'https://core.telegram.org/bots/api#message' }],\n      [{ text: 'Button 3', url: 'https://core.telegram.org/bots/api#chat' }]\n    ],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload.content = 'Please select one of the categories:';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"x":1020,"y":320,"wires":[["1dfdc2f8.0ed48d","73119016.2108a"]]},{"id":"1dfdc2f8.0ed48d","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":200,"wires":[]},{"id":"1174d93b.272417","type":"watson-conversation-v1","z":"5471dace.b40b94","name":"BestBuy-Assistant","workspaceid":"855744f8-68ad-4e00-b5c5-a5c3977c55b3","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":370,"y":240,"wires":[["44de8962.c6e1b8","8714c140.c8ffa"]]},{"id":"8714c140.c8ffa","type":"function","z":"5471dace.b40b94","name":"prepare2","func":"var outputMsg = \"\";\n\tif(msg.payload.output.text) {\n    \t\tfor(i=0;i<msg.payload.output.text.length;i++){\n        \t\t\toutputMsg += msg.payload.output.text[i] +\"\\n\"\n    \t\t}\n\t}\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : outputMsg\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["a4207c34.53edc","a0cfbe01.585de"]]},{"id":"44de8962.c6e1b8","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":160,"wires":[]},{"id":"79a76775.60f5d8","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":400,"wires":[]},{"id":"d9141fc9.02cad","type":"function","z":"5471dace.b40b94","name":"prepare1","func":"msg.chatId = msg.payload.chatId;\nmsg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":320,"wires":[["1174d93b.272417","79a76775.60f5d8"]]},{"id":"a0cfbe01.585de","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":80,"wires":[]},{"id":"73119016.2108a","type":"telegram sender","z":"5471dace.b40b94","name":"","bot":"25353ee6.933a52","x":1250,"y":260,"wires":[["1527178e.dd79b8"]]},{"id":"1527178e.dd79b8","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1350,"y":180,"wires":[]},{"id":"2aed6a9a.8ccec6","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":140,"wires":[]},{"id":"a80cbf2f.e5aee","type":"switch","z":"5471dace.b40b94","name":"","property":"payload.content.text","propertyType":"msg","rules":[{"t":"eq","v":"It was a pleasure talking to you.","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":260,"wires":[["2aed6a9a.8ccec6"],["91951185.06054"]]},{"id":"7eb1950.f022f6c","type":"http request","z":"5471dace.b40b94","name":"categories","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.bestbuy.com/v1/categories(id=abcat*)?apiKey=65c9MynyHAXvqIBCAnHTWEjP&show=id,name,url&format=json","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":460,"wires":[["d58dbd00.9c9fb"]]},{"id":"d58dbd00.9c9fb","type":"debug","z":"5471dace.b40b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":540,"wires":[]},{"id":"25353ee6.933a52","type":"telegram bot","z":"","botname":"Nedobuga_BestBuy_Bot","usernames":"tanya_nedobuga","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"10","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]
